<li><a href="{% url 'main:main' %}" class="menu-link">Home</a></li>
<li><a href="{% url 'main:main' %}#about" class="menu-link">About</a></li>
<li><a href="{% url 'main:main' %}#serices" class="menu-link">Serices</a></li>
<li><a href="{% url 'main:main' %}#gallery" class="menu-link">Gallery</a></li>
<li><a href="{% url 'main:main' %}#news" class="menu-link">News</a></li>
<li><a href="{% url 'main:main' %}#team" class="menu-link">Team</a></li>
<li><a href="{% url 'contacts:main' %}" class="menu-link">Contact Us</a></li>