 <!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>HG - Gallery</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet"> </head>

<body>
    <div class="header">
        <div class="logo-historical"> Historical </div>
        <div class="logo-games">Games</div>
        <div class="contacts">
            <div class="phone"> <img src="/static/img/phone.png" alt="phone">
                <div class="number">+123 456 7890</div>
            </div>
            <div class="envelope"> <img src="/static/img/envelope.png" alt="email">
                <div class="email">info@example.com</div>
            </div>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <input type="button"> </div>
    </div>
    <div class="div-menu">
        <div class="menu">
            <ul>
                <li><a href="/" class="menu-link">Home</a></li>
                <li><a href="/#about" class="menu-link">About</a></li>
                <li><a href="/#serices" class="menu-link">Serices</a></li>
                <li><a href="/#gallery" class="menu-link">Gallery</a></li>
                <li><a href="/#news" class="menu-link">News</a></li>
                <li><a href="/#team" class="menu-link">Team</a></li>
                <li><a href="/contacts/" class="menu-link">Contact Us</a></li>
            </ul>
        </div>
        <hr class="menu-bottom"> </div>
    <div class="our_gallery">
        <p class="section_header">Our Gallery</p>
        <div class="store">
            <ul>
                <a href="#">
                    <li class="img-div"><img src="/static/img/BATTLEFIELD_1.jpg" alt="BATTLEFIELD_1">
                        <p>BATTLEFIELD 1
                            <br>
                            <br> </p>
                        <button>Buy</button>
                    </li>
                </a>
                <a href="#">
                    <li class="img-div"><img src="/static/img/STAR_WARS_Battlefront_II.jpg" alt="/STAR_WARS_Battlefront_II">
                        <p>STAR WARS
                            <br>Battlefront_I </p>
                        <button>Buy</button>
                    </li>
                </a>
                <a href="#">
                    <li class="img-div"><img src="/static/img/BATTLEFIELD_4.jpg" alt="BATTLEFIELD_4">
                        <p>BATTLEFIELD 4
                            <br>
                            <br> </p>
                        <button>Buy</button>
                    </li>
                </a>
                <a href="#">
                    <li class="img-div"><img src="/static/img/WORLD_OF_TANKS.jpg" alt="WORLD_OF_TANKS">
                        <p>WORLD OF TANKS
                            <br>
                            <br> </p>
                        <button>Buy</button>
                    </li>
                </a>
            </ul>
        </div>
        <div class="store">
            <ul>
                <a href="/ac_rouge/">
                    <li class="img-div"><img src="/static/img/assasins-creed-rouge.jpg" alt="assasins-creed-rouge">
                        <p>ASSASIN’S CREED:
                            <br>Rogue</p>
                        <button>Buy</button>
                    </li>
                </a>
                <a href="#">
                    <li class="img-div"><img src="/static/img/FOR_HONOR.jpg" alt="FOR_HONOR">
                        <p>FOR HONOR
                            <br>
                            <br> </p>
                        <button>Buy</button>
                    </li>
                </a>
                <a href="#">
                    <li class="img-div"><img src="/static/img/WORLD_OF_WARSHIPS.jpg" alt="WORLD_OF_WARSHIPS">
                        <p>WORLD OF WARSHIPS
                            <br>
                            <br> </p>
                        <button>Buy</button>
                    </li>
                </a>
                <a href="#">
                    <li class="img-div"><img src="/static/img/CALL_OF_DUTY_Infinite_Warface.jpg" alt="CALL_OF_DUTY_Infinite_Warface">
                        <p>CALL OF DUTY:
                            <br>Infinite Warface</p>
                        <button>Buy</button>
                    </li>
                </a>
            </ul>
        </div>
        <a href="#">
            <button class="more">Show more games </button>
        </a>
    </div>
    <div class="big_banner">
        <div class="banner">
            <div class="banner_text">
                <p class="banner_game_discount">DISCOUNT</p>
                <p class="banner_game_name">CALL OF DUTY:
                    <br>Modern Warfare 3</p>
                <p class="banner_game_cost">$14.44 <span>/</span> <span class="cross_out">&#36;28.90</span></p>
                <a href="#">
                    <button class="banner_game_button">Buy</button>
                </a>
            </div>
        </div>
        <div class="banner" id="second_banner">
            <div class="white_bgd">
                <div class="banner_text">
                    <p class="banner_game_discount">DISCOUNT</p>
                    <p class="banner_game_name">MEDAL OF HONOR
                        <br><br> </p>
                    <p class="banner_game_cost">$15.96 <span>/</span> <span class="cross_out">&#36;29.99</span></p>
                    <a href="#">
                        <button class="banner_game_button">Buy</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="contact_us">
        <a name="contact_us"></a>
        <p class="section_header">Contact Us</p>
        <div class="contact_info">
            <p class="contact_info_title">Get in touch with us</p>
            <p class="contact_info_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,sheets containing Lorem Ipsum passages sed do, At vero eos et accusamus et iusto odio digs qui blanditiis
                <br>
                <br> Leningradsky AVE 39, BLDG 79 MOSCOW 125167, Russia
                <br>
                <br> Telephone : +00 111 222 3333
                <br>
                <br> FAX : +1 888 888 4444
                <br>
                <br> Email : <span>mail@example.com</span></p>
        </div>
        <div class="contact_form">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
            <textarea placeholder="Massege"></textarea>
            <input type="button" value="SUBMIT"> </div>
        <p class="section_header another">Route Map</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2242.8028223497267!2d37.534592416252906!3d55.79666168056503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b549c0ac2b5af5%3A0x4b7a44fd7798fe69!2sGeekBrains!5e0!3m2!1sru!2sru!4v1591374691211!5m2!1sru!2sru" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"></iframe>
    </div>
    <a href="#" title="Вернуться наверх" class="buttonup"><img src="/static/img/arrow-up-for-site.png" alt="arrow-up"></a>
    <footer> &copy; 2017 Historical Games. All rights reserved | <span>Design by</span> </footer>
</body>

</html>